footer {
    margin-top: 10%;
    background-color: $blue;
    color: white;

    .footer-headings{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #lower-footer {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        text-align: center;
    }

    .list-group-item{
        background-color: $blue;
        a{
            color: white;
        }
    }
}