// colors
$blue: #017ab5;
$blue-sky: #2c78e1;
$blue-light: #71cbd6;
$blue-lighter: #84dde8;

// fonts
$Grenze: 'Grenze Gotisch',
cursive;
$PMarker: 'Permanent Marker',
cursive;
$Philosopher: 'Philosopher',
sans-serif;