// colors
$blue: #017ab5;
$blue-sky: #2c78e1;
$blue-light: #71cbd6;
$blue-lighter: #84dde8;

// fonts
$Grenze: 'Grenze Gotisch',
cursive;
$PMarker: 'Permanent Marker',
cursive;
$Philosopher: 'Philosopher',
sans-serif;

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {

    * {
        font-family: $Philosopher;
    }

    // All headings have this style
    .headings {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        text-align: center;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $PMarker;
    }

    .card {
        margin-bottom: 10%;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

    #dashboard {
        margin: auto;
    }

    @import "./assets/nav.scss";

    header {
        height: 400px;
        width: 100%;
        background-image: url(https://res.cloudinary.com/dunksyqjj/image/upload/v1594842650/Enugu_MKT_thr1bn.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        background-color: $blue;
        background-blend-mode: overlay;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: white;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 2rem;
            -webkit-text-stroke: 1px white;
            -webkit-text-fill-color: $blue-lighter;
        }
    }

    main{
        .see-all-btn{
            margin-top: 3% !important;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        }
    }

    @import "./assets/footer.scss";

}