// colors
$blue: #017ab5;
$blue-sky: #2c78e1;
$blue-light: #71cbd6;
$blue-lighter: #84dde8;

// fonts
$Grenze: 'Grenze Gotisch', cursive;
$PMarker: 'Permanent Marker', cursive;
$Philosopher: 'Philosopher', sans-serif;

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{

    * {
        font-family: $Philosopher;
    }

    // All headings have this style
    .headings {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $PMarker;
    }

    .card{
        margin-bottom: 10%;
    }

    .navbar{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    footer{
        margin-top: 10%;

        #lower-footer{
            padding-top: 5%;
            padding-bottom: 5%;
        }
    }

}