@import "./assets/variables.scss";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {

    * {
        font-family: $Philosopher;
    }

    // All headings have this style
    .headings {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
        text-align: center;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $PMarker;
    }

    .card {
        margin-bottom: 10%;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

    #dashboard {
        margin: auto;
    }

    @import "./assets/nav.scss";

    @import "./assets/header.scss";

    @import "./assets/main.scss";

    @import "./assets/footer.scss";

}